* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Mono', monospace;
    background: #080808;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.calculator {
    background: #0a0a0a;
    border-radius: 20px;
    padding: 24px;
    width: 320px;
    border: 1px solid #c9a96e;
}

.display {
    background: #111;
    border-radius: 12px;
    padding: 12px 20px 16px;
    margin-bottom: 20px;
    border: 1px solid #2a2a2a;
    text-align: right;
}

.expr {
    font-size: 0.75rem;
    color: rgba(201, 169, 110, 0.6);
    min-height: 18px;
    letter-spacing: 0.1em;
}

#result {
    font-size: 2.2rem;
    color: #f0f0f0;
    letter-spacing: 0.05em;
    word-break: break-all;
    background: transparent;
    border: none;
    width: 100%;
    text-align: right;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    height: 62px;
    border: none;
    border-radius: 10px;
    font-family: 'DM Mono', monospace;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.12s, background 0.15s;
}

.btn:active {
    transform: scale(0.94);
}

.number {
    background: #1a1a1a;
    color: #f0f0f0;
    border: 1px solid #2a2a2a;
}

.number:hover {
    background: #252525;
}

.operator {
    background: #1e1700;
    color: #c9a96e;
    border: 1px solid rgba(201, 169, 110, 0.27);
}

.operator:hover {
    background: rgba(201, 169, 110, 0.13);
}

.equals {
    background: #c9a96e;
    color: #000;
    border: none;
    grid-row: span 2;
}

.equals:hover {
    background: #e0c080;
}

.clear { 
    background:#1e1700 ;
    color: #c9a96e;
    border: 1px solid rgba(224, 85, 85, 0.2);
}

.clear:hover {
    background: rgba(201, 169, 110, 0.13);
}

.zero {
    grid-column: span 2;
}

@media (max-width: 480px) {
    .calculator {
        padding: 16px;
        width: 280px;
    }

    .btn {
        height: 52px;
        font-size: 1rem;
    }

    #result {
        font-size: 1.8rem;
    }
}
